@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.main{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./asset/image.png')center center no-repeat;

    
}

.overlay{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
    backdrop-filter: blur(0.9px);
}

.countdown{
    display:flex;
  
    padding: 20px;
    border-radius: 10px;
    height:20%;  
    align-items: center;
    justify-content: space-around;
}

.countItems{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-align: center; 
    font-size: medium; 
}

.countText{
    font-size: 1.2rem;
    color: black;
}

